.App {
  text-align: center;

  display: grid;
  grid-template-columns:  20% 80%;
  grid-template-rows: 20vh 70vh 10vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "aside header"
  "aside main"
  "aside footer";
}
.container-maior{
  background-color: rgb(242, 242, 242);
}

.aside {
  grid-area: aside;
}
.container-principal{
  padding: 80px;
}
.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}



